.span3.right
  if locals.current_user 
    - var user = locals.current_user
    include ./user_info
  else
    include ./login_box
  .sidebox.container-box.mt10.hot-nodes
    .ui-header
      span.title 最热节点
    .ui-content
      for node in hotNodes 
        a(href='/nodes/#{node.key}')= node.name
  
  //- .sidebox.container-box.mt10.friends
  //-   .ui-header
  //-     span.title 友情社区
  //-   .ui-content
  //-     p
  //-       a(href='http://python-china.org')
  //-         img(src='http://f2e.im/static/images/python_china_logo.jpg', alt='')
  //-     p
  //-       a(href='http://ruby-china.org')
  //-         img(src='http://f2e.im/static/images/ruby_china_logo.png', alt='')
  //-     p
  //-       a(href='http://trans4fun.org')
  //-         img(src='http://f2e.im/static/images/trans4fun.png', alt='')
            
  .sidebox.container-box.mt10.community-status
    .ui-header
      span.title 运行状态
    .ui-content
      dl
        dt 注册成员
        dd= siteInfos.user_count
      dl
        dt 节点
        dd= siteInfos.node_count
      dl
        dt 主题
        dd= siteInfos.topic_count
      dl
        dt 回复
        dd= siteInfos.reply_count
