extends ../layout

block content
  .container-fluid.container.mt15
      .row-fluid
        .span9.left
          .container-box
            form.form-horizontal(action='', method='POST')
              fieldset
                #legend.mb50
                  legend 找回密码
                if success && success.length > 0
                  ul.alert.alert-success
                    each info in success
                      li= info
                if notices && notices.length > 0
                  ul.errors.alert.alert-error
                    each notice in notices
                      li= notice
                .control-group
                  // Username
                  label.control-label(for='username') 用户名
                  .controls
                    if username
                      input#username.input-xlarge(type='text', name='username', placeholder='', value="#{username}")
                    else
                      input#username.input-xlarge(type='text', name='username', placeholder='')
                    p.help-block 用户名由字母开头，只能含有字母、数字或者下划线
                .control-group
                  // E-mail
                  label.control-label(for='email') E-mail
                  .controls
                    if email
                      input#email.input-xlarge(type='text', name='email', placeholder='', value="#{email}")
                    else
                      input#email.input-xlarge(type='text', name='email', placeholder='')

                    p.help-block 请输入你的E-mail，新密码将发送到这里
                .control-group
                  input.csrf(type='hidden', name='_csrf', value="#{locals.csrf_token}")
                  .controls
                    button.btn.btn-success 找回密码
        .span3.right
          .sidenav.container-box
            ul
              li.current
                a(href='/setting') 用户中心
              li
                a(href='/setting/avatar') 设置头像
              li
                a(href='/setting/password') 设置密码
              li
                a(href='/') 返回首页
